
<div id="main-wrapper">
  <app-navbar></app-navbar>
  <div class="content-body" style="margin-top: 3%">
    <div class="row">
      <div class="col-xl-12 col-xxl-12 col-sm-12">
        <div class="card">
          <div class="card-header">
            <h5
              class="card-title"
              style="color: #ff5330; font-size: 18px; font-weight: bold"
            >
              Modifier un produit
            </h5>
          </div>
          <div class="card-body">
            <form  (ngSubmit)="onSubmit()" [formGroup]="form">
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label
                      class="form-label"
                      style="color: #2b2b68; font-weight: bold"
                      >Catégorie</label
                    >
                    <select
                      *ngIf="CategorieList"
                      class="form-control"
                      formControlName="categoryId"
                      id="categoryId"
                      (change)="onChange($event.target)"
                      name="cat"
                    >
                      <option value="0">-Select-</option>
                      <option
                        *ngFor="let item of CategorieList"
                        value="{{ item.idcategorie}}"
                      >
                        {{ item.nomcategorie }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label
                      class="form-label"
                      style="color: #2b2b68; font-weight: bold"
                      >Sous-catégorie</label
                    >
                    <select
                      *ngIf="SouscategorieList"
                      class="form-control"
                      formControlName="idsouscategorie"
                      id="idsouscategorie"
                      (change)="onChangeSubCategory($event.target)"
                    >
                      <option value="0">-Select-</option>
                      <option
                        *ngFor="let item of SouscategorieList"
                        value="{{ item.idsouscategorie}}"
                      >
                        {{ item.nomsouscat }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label
                      class="form-label"
                      style="color: #2b2b68; font-weight: bold"
                      >Nom Produit</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      [(ngModel)]="name"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="nameChange($event.target)"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label
                      class="form-label"
                      style="color: #2b2b68; font-weight: bold"
                      >Description</label
                    >
                    <textarea
                      class="form-control"
                      id="description"
                      [(ngModel)]="description"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="desc($event.target)"
                    ></textarea>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label
                      class="form-label"
                      style="color: #2b2b68; font-weight: bold"
                      >Code à barre</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="codebarre"
                      [(ngModel)]="codebarre"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="cab($event.target)"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label
                      class="form-label"
                      style="color: #2b2b68; font-weight: bold"
                      >Marque</label
                    >
                    <select
                      class="form-control"
                      formControlName="nommarque"
                      id="nommarque"
                      (change)="onChangeMarque($event.target)"
                    >
                      <option value="0">-Select-</option>
                      <option
                        *ngFor="let item of MarqueList"
                        value="{{ item.nommarque}}"
                      >
                        {{ item.nommarque }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label
                      class="form-label"
                      style="color: #2b2b68; font-weight: bold"
                      >Prix</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="prix_de_vente"
                      [(ngModel)]="prix_de_vente"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="prix($event.target)"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label
                      class="form-label"
                      style="color: #2b2b68; font-weight: bold"
                      >Quantité</label
                    >
                    <input
                      type="number"
                      class="form-control"
                      id="qte"
                      [(ngModel)]="qte"
                      [ngModelOptions]="{ standalone: true }"
                      (change)="quantite($event.target)"
                    />
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label
                      class="form-label"
                      style="color: #2b2b68; font-weight: bold"
                      >Statut</label
                    >
                    <select
                      class="form-control"
                      id="available"
                      formControlName="available"
                      (change)="availableChange($event.target)"
                    >
                      <option value="0">-Select-</option>
                      <option value=true>disponible</option>
                      <option value=false>bloqué</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group">
                    <label
                      class="form-label"
                      style="color: #2b2b68; font-weight: bold"
                      >Unité</label
                    >
                    <input type="text" class="form-control"  id="unite" [(ngModel)]="unite" [ngModelOptions]="{standalone: true}" (change)="unit($event.target)">
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <img src="{{ImgUrl}}" style="width:35vw" >
                  </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="form-group fallback w-100">
                    <label
                      class="form-label"
                      style="color: #2b2b68; font-weight: bold"
                      >Image</label
                    >
                    <br />
                    <input type="file" class="dropify" data-default-file="" id="imageURL" [(ngModel)]="imageURL" [ngModelOptions]="{standalone: true}"  placeholder="imageUrl" (change)="img($event.target)"/>
                  </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12">
                  <button
                    type="submit"
                    class="btn btn-primary"
                    style="background-color: #ff5330; border-color: #ff5330"
                  >
                    Modifier
                  </button>
                  <!-- <button type="submit" class="btn btn-light">Cencel</button> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
