<div id="main-wrapper">
    <app-navbar></app-navbar>
    <div class="content-body">
        <!-- row -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card bg-primary">
                        <div class="card-body">
                            <div class="media">
                                <span class="mr-3">
                                    <i class="la la-users"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1">Utilisateurs</p>
                                    <h3 class="text-white">{{nbrUser}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card bg-warning">
                        <div class="card-body">
                            <div class="media">
                                <span class="mr-3">
                                    <i class="la la-cubes"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1">Categories</p>
                                    <h3 class="text-white">{{nbrCategory}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card bg-secondary">
                        <div class="card-body">
                            <div class="media">
                                <span class="mr-3">
                                    <i class="la la-book"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1">Marques</p>
                                    <h3 class="text-white">{{nbrMarque}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-xxl-3 col-sm-6">
                    <div class="widget-stat card bg-danger">
                        <div class="card-body">
                            <div class="media">
                                <span class="mr-3">
                                    <i class="la la-server"></i>
                                </span>
                                <div class="media-body text-white">
                                    <p class="mb-1">Produits</p>
                                    <h3 class="text-white">{{nbrProduit}}</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>